
/* add question */
.add-que{
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
  }
  .add-que i{
    font-size: 120%;
  }
  .add-que p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 75%;
    align-self: center;
  }
  
  .question{
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
  }
  
  .que-type, .que-des{
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
  }
  
  .que-type label, .que-des label{
    font-size: 80%;
  }
  
  .que-type select, .que-des input{
    height: 2.7rem;
    margin-top: 5px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding-left: 15px;
  }
  
  .delete-save-option{
    margin: 1.5rem 0 0.5rem 0;
    padding-bottom: 1.5rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1.2px solid rgb(170, 170, 170);
  }
  
  .delete-save-option span{
    display: flex;
    color: #A80000;
    cursor: pointer;
  }
  
  .delete-save-option span p{
    margin-left: 10px;
    font-size: 80%;
    align-self: center;
    font-weight: bold;
  }
  .delete-save-option span i{
    align-self: center;
    font-size: 120%;
  }
  
  .save-button{
    width: 3.6rem;
    height: 1.8rem;
    border: none;
    outline: none;
    background-color: #087B2F;
    border-radius: 6px;
    color: #fff;
  }



  
  /*  */
  .choice, .max-choice{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
  }

  .choices{
    display: flex;
    flex-direction: column;
  }

  .choices input{
    flex-grow: 1;
  }
  
  .choice span{
    width: 100%;
    display: flex;
  }
  .choice span input, .max-choice input{
    height: 2.7rem;
    margin-top: 5px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding-left: 15px;
    flex-grow: 1;
  }

  .choice span i{
    align-self: center;
    font-size: 80%;
  }

  .enable-option{
    display: flex;
    margin: 0.5rem ;
    font-size: 90%;
  }
  .enable-option p{
    font-size: 80%;
    margin-left: 10px;
  }

  .text-area{
    flex-grow: 1;
    height: 7rem;
    margin: 1rem 0rem;
    overflow: scroll;
    resize: none;
    outline: none;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 3px;
  }

.vid-duration{
    width: 100%;
    display: flex;
    height: fit-content;
}
.vid-duration input{
    width: 55%;
    margin-right: 1rem;
    padding-left: 15px;
    outline: none;
}
.vid-duration select{
    flex-grow: 1;
    height: 2.7rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    padding-left: 15px;
}

.vid-duration select option[value=""][disabled] {
    display: none;
  }

.text-area::-webkit-scrollbar{
    display: none;
}